@{
    ViewData["Title"] = "Home Page";
}

<input type="hidden" value="@Model.MapData" id="mapdata" name="mapdata" />

@using (Html.BeginForm("Search", "Home"))
{
    <fieldset class="form">
        <legend>SEARCH for closest document in the search engine using geo distance</legend>
        <table width="800">
            <tr>
                <th></th>
            </tr>
            <tr></tr>
            <tr>
                <td>
                    <input type="submit" value="Search for closest: " style="width: 300px">
                </td>
                <td>
                    <input type="hidden" value="@Model.CenterLatitude" id="centerLatitude" name="centerLatitude" />
                    <input type="hidden" value="@Model.CenterLongitude" id="centerLongitude" name="centerLongitude" />
                </td>
                <td>
                    <p style="width: 300px">Max distance in meter:</p>
                    <input class="form-control" id="maxDistanceInMeter" name="maxDistanceInMeter" type="text" title="" value="@Model.MaxDistanceInMeter" style="width: 200px" />
                </td>
            </tr>
        </table>
    </fieldset>

}

<div class="row">
    @*Bern	Lat 46.94792, Long 7.44461 *@
    <div id="map" style="width: 1000px; height: 800px;">
    </div>
</div>

<br />

@section scripts
{
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin=""></script>

    <script language="javascript" type="text/javascript">

        var map = L.map('map', {
            center: [46.94792, 7.44461],
            zoom: 13,
            dragging: false
        });

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        var ortIcon = L.icon({
            iconUrl: 'https://localhost:7275/ort.png',
        });

        var homemarker = L.marker(
            [$("#centerLatitude").val(), $("#centerLongitude").val()],
            {icon: ortIcon}, 
            {draggable: true}
        ).addTo(map);

        function onMapClick(e) {
            homemarker.setLatLng(e.latlng);
            console.info("Clicked map at: lon: " + homemarker.getLatLng().lng + " , lat:"  + homemarker.getLatLng().lat);
            $("#centerLatitude").val(homemarker.getLatLng().lat.toFixed(5));
             $("#centerLongitude").val(homemarker.getLatLng().lng.toFixed(5));
             
        }

        map.on('click', onMapClick);

        var modelData = $.parseJSON($("#mapdata").val());
        var first = true;
        $.each(modelData, function(entryIndex, entry) {

            var titleString = entry.Name + "\n" + entry.Details;

            if (first) {

                var yourPositionIcon = L.icon({
                    iconUrl: 'https://localhost:7275/yourposition.png',
                });

                console.info("lon: "+ entry.DetailsCoordinates.lon + " lat:" + entry.DetailsCoordinates.lat + " " + entry.Name);

                var marker = L.marker(
                        [entry.DetailsCoordinates.lat, entry.DetailsCoordinates.lon],
                        {icon: yourPositionIcon})
                    .bindPopup(titleString)
                    .addTo(map);

                first = false;
            } else {
                console.info("lon: "+ entry.DetailsCoordinates.lon + " lat:" + entry.DetailsCoordinates.lat + " " + entry.Name);
                var marker = L.marker(
                        [entry.DetailsCoordinates.lat, entry.DetailsCoordinates.lon])
                    .bindPopup(titleString)
                    .addTo(map);
            }
        });

    </script>
}