@{
    ViewData["Title"] = "ReIndex Page";
}

@using (Html.BeginForm("CreateIndex", "Home"))
{
    <form>
        <button type="submit" class="btn btn-primary">Create Index or re-create index</button>
    </form>
}